.logoGLA{
  display: flex;
  width: 62%; /* Définit la largeur de l'image à 20% de la largeur de son conteneur */
  height: auto;
  padding-left: 2rem;
  padding-top: 4px;
  padding-bottom: 4px;
  
}
h1{
  margin: 0;
}
img{
  width: 50%; /* Définit la largeur de l'image à 20% de la largeur de son conteneur */
  height: auto;
}
.Banner{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(26, 63, 34) 100%, rgba(255,255,255,1) 100%);
  
}

.nav{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  padding-right: 2rem;
  
}

.click{
  cursor: pointer;
}